<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>signup</title>
</head>
<body>
<form method="post" action="/signup">
		<!-- Heading -->
		<h4>
			 <p align="center">
			Create an account
		</h4>

		<!-- Subheading -->
		<p >
			 <p align="center">
			Please fill up your information below to sign up.
		</p>

		<!-- Email -->
		<div>
			 <p align="center">
			<label>Email address*</label>
			<div>
				 <p align="center">
				<input type="email"  name="email" id="emailStr" required>
			</div>
			 <p align="center">

			<label>fullname</label>
			<div>
				 <p align="center">
				<input type="text" name="full_name">
			</div>
			 <p align="center">

			<label>username</label>
			<div>
				 <p align="center">
				<input type="text" name="username">
			</div>
			 <p align="center">

			<label>bio</label>
			<div>
				 <p align="center">
				<input type="text" name="bio" max="280">
		   </div>
		    <p align="center">

		<!-- Password -->
		<div>
			 <p align="center">
			<label>Password*</label>
			<div class="input-group">
				 <p align="center">
				<input type="password"  name="password" minlength="6">
			</div>

		</div>
		 <p align="center">
		<!-- Button -->
		<div>
			 <p align="center">
			<input type="submit"/>
		</div>
	</form>
	 <p align="center">
	<a href="/signup"><button>signup</button></a>
	<style>
	body{
	background-image: url("static/css/discount1.webp");
	background-size cover;
</style>
</body>
</html>